.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.root, .portal {
  max-width: 600px;
  margin: 0 auto;
}

.c-loader {
  text-align: center;
}

.b-app-button {
  width: 50%;
}

.b-app-button:focus {
  border-color: darkgrey;
}

.b-request-result {
  text-align: center;
  padding: 20px;
}
